<h1>Wecome to Checkpoint!</h1>

<div class="welcome">
  <p>Checkpoint is an interactive goal setting app designed for fitness, Crossfit in my case.  The idea is that people should be able to set goals, break them down into smaller gaol steps or "checkpoints" and check them off as each goal/checkpoint is reached.</p>

  <p>If you have a coaching relationship with another user, your goals have added functionality where you can send a review request to your coach and they can see and edit your checkpoints associated with that goal or create new ones.</p>

  <p>For demo purposes I have an account set up u: athlete@athlete.com p: athlete</p>

  <p>Please feel free to try it out or create accounts of your own. I intend to continue development on this app after I have acquired added expeience and skills in javascript frameworks. Right now I'm simply using *.js.erb files for DOM manipulation.</p>

  <p>~Jeremy Salig 6.30.14</p>
<div>
