<div>
  <%= div_for(completed_step) do %>
    <p>

      Step: <%= completed_step.description %><br>
      Completed on: <%= time_tag(completed_step.completed_on) %><br>

      <% if current_user.owns_step? completed_step %>
        <%= link_to "Remove this Step", completed_step, method: :delete, confirm: "Really? Remove this Step?", remote: true %><br>
      <% end %>

    </p>
  <% end %>
</div>
