<div class="new-step">
  <div class="goal", id="new">
    <p>
      <div id="step-header">
        <h3 id="step-header-text">Checkpoint</h3>
      </div>
      <h3 id="goal-description"><%= link_to "(new)", [:new, @goal, :step], id: "new_link", remote: true %></h3>
    </p>
  </div>
</div>
