<div>
  <%= div_for(completed_goal) do %>
    <h3>Goal: <%= completed_goal.description %></h3>
    <p>Completed on: <%= time_tag(completed_goal.completed_on) %></p>
    <p><%= link_to "Remove this Goal", completed_goal, method: :delete, confirm: "Really? Remove this Goal?", remote: true %></p>
  <% end %>
</div>
