<div class="new-goal">
  <div class="goal", id="new">
    <div class="item-header" id="goal-header">
      <h3 class="item-header-text" id="goal-header-text">Goal</h3>
    </div>
    <h3 id="goal-description"><%= link_to "(new)", new_goal_path, remote: true %></h3>
  </div>
</div>
