<div class="new-goal">
	<div class="goal", id="new">
    <p>
      <div id="goal-header">
        <h3 id="goal-header-text">Goal</h3>
      </div>
      <h3 id="goal-description"><%= link_to "(new)", new_goal_path, remote: true %></h3>
    </p>
  </div>
</div>
