<h1>Checkpoints</h1>

<div id="current_goals">
  <%= render partial: 'goal_basic', object: @goal %>
</div>

<h2>Checkpoints for this goal</h2>

<div id="current_steps">
  <%= render partial: 'steps/current_step', collection: @current_steps %>
  <%= render partial: "steps/new_step" %>
</div>

<h2>Completed</h2>

<div id="completed_steps">
  <%= render partial: 'steps/completed_step', collection: @completed_steps %>
</div>
