@import "bourbon";
@import "neat";

.main-body {
  @include outer-container;
  background-color: DarkSlateGray;
}

#content-wrapper {
  opacity: 0;
}

.form-pop {
  @include span-columns(4.05);
  @include shift(2.45);
  padding-left: .5em;
  padding-right: .5em;
  padding-top: .2em;
  padding-bottom: 1.5em;
  margin-bottom: 1em;
  border-radius: 0.4em;
  border: solid black;
  background-color: Coral;
  position: absolute;
}

#current_goals {
  @include span-columns(12);
}

.current-goal {
  @include span-columns(4);
  @include omega(3n);
  position: relative;

  .goal {
    padding-left: .5em;
    padding-right: .5em;
    padding-top: .2em;
    padding-bottom: .2em;
    margin-bottom: 1em;
    background-color: white;
    border-radius: 0.4em 1.5em 0.4em 1.5em;
    border: solid black;
  }
}

.completed-goal {
  @include span-columns(4);
  @include omega(3n);

  .goal {
    padding-left: .5em;
    padding-right: .5em;
    padding-top: .2em;
    padding-bottom: .2em;
    margin-bottom: 1em;
    background-color: white;
    border-radius: 0.4em 1.5em 0.4em 1.5em;
    border: solid black;
  }
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 */
