@import "bourbon";
@import "neat";

.nav {
  @include background(linear-gradient(rgba(10, 10, 10, 0.8), rgba(80, 80, 80, 0.8)) left repeat);
  @include span-columns(12);
  border-radius: .5em;
  list-style-type:none;
  margin: 0;
  padding: 0;
  overflow: hidden;

  li {
    float: left;
  }

  #sign-out, #sign-in {
    float: right;
  }

  a:link, a:visited {
    @include background(linear-gradient(rgba(10, 245, 10, 0.8), rgba(10, 130, 10, 1)) left repeat);
    border: .1em solid rgba(10, 130, 10, 0.8);
    display: block;
    width: 150px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #98bf21;
    text-align: center;
    padding: 4px;
    text-decoration: none;
    text-transform: uppercase;
  }

  a:hover, a:active {
    background-color: #7A991A;
  }
}

#signed-in-as {
  float: right;
}

#content-wrapper {
  opacity: 0;
}

.form-pop {
  @include span-columns(3);
  @include shift(1.9);
  padding: 0.2em 0.5em;
  margin-bottom: 1em;
  border-radius: 0.4em;
  border: solid black;
  background-color: Coral;
  position: absolute;
  z-index: 2;
}

.main-body {
  @include outer-container;
  background-color: #C6D8FF;
  font-family: $lucida-grande;
  min-height: 1100px;
}

.button {
  position: relative;
  background-color: green;
  border-radius: 0.9em;
  height: 1.4em;
  bottom: -0.85em;

  a:link {
    position: relative;
    bottom: -2px;
    text-decoration: none;
    color: white;
  }
}

.x-to-delete {
  @include transform(rotate(-9deg));
  position: relative;
  top: -75px;
  float: right;
  z-index: -0;

  a:link {
    text-decoration: none;
    color: grey;
    font-family: "Brush Script MT", cursive;
    font-size: 50px;
  }
}

#goal-header {
  @include transform(rotate(-30deg));
  background-color: red;
  position: relative;
  left: -142px;
  top: -12px;

  #goal-header-text {
    color: white;
    opacity: 0.8;
  }
}

#step-header {
  @include transform(rotate(-30deg));
  background-color: orange;
  position: relative;
  left: -115px;
  top: -1px;

  #step-header-text {
    color: white;
    opacity: 0.8;
  }
}

#goal-description {
  position: relative;
  top: -35px;
  color: red;
  font-size: 30px;
  text-shadow: 1px 1px 0.5px rgba(0, 0, 0, 0.8);

  a:link {
    text-decoration: none;
    font-size: 50px;
    color: grey;
  }
}

#current_goals, #current_steps, #completed_goals, #completed_steps {
  @include span-columns(12);
}

.current-goal, .completed-goal, .new-goal, .new-step {
  @include span-columns(3.9);
    overflow: hidden;

  .goal, .step {
    @include background-image( radial-gradient(50% 50%, circle cover, white, #B0B0B0) );
    text-align: center;
    padding: 0.2em 0.5em;
    margin-bottom: 1em;
    border-radius: 0.4em 1.5em 0.4em 1.5em;
    border: 2px solid black;
  }

  #new {
    opacity: 0.2;
    height: 150px;
  }
}

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 */
