@import "bourbon";
@import "neat";

#content-wrapper {
  opacity: 0;
}

.form-pop {
  z-index: 2;
  @include span-columns(4.05);
  @include shift(2.45);
  padding: 0.2em 0.5em;
  margin-bottom: 1em;
  border-radius: 0.4em;
  border: solid black;
  background-color: Coral;
  position: absolute;
}

.main-body {
  font-family: $lucida-grande;
  @include outer-container;

  @include linear-gradient(#C6D8FF, #53607C);
  min-height: 1000px;
}

.button {
  position: relative;
  background-color: green;
  border-radius: 0.9em;
  height: 1.4em;
  bottom: -0.85em;

  a:link {
    position: relative;
    bottom: -2px;
    text-decoration: none;
    color: white;
  }
}

.x-to-delete {
  z-index: 0;
  -webkit-transform: rotate(-9deg);
  position: relative;
  top: -75px;
  float: right;

  a:link {
    text-decoration: none;
    color: grey;
    font-family: "Brush Script MT", cursive;
    font-size: 50px;
  }
}

#goal-header {
  -webkit-transform: rotate(-30deg);
  background-color: red;
  position: relative;
  left: -142px;
  top: -12px;

  #goal-header-text {
    color: white;
    opacity: 0.8;
  }
}

#goal-description {
  position: relative;
  top: -35px;
  color: red;
  font-size: 30px;
  text-shadow: 1px 1px 0.5px rgba(0, 0, 0, 0.8);
}

#current_goals, #current_steps {
  @include span-columns(12);
}

.current-goal, .completed-goal {
  @include span-columns(3.9);
    overflow: hidden;

  .goal, .step {
    text-align: center;
    padding: 0.2em 0.5em;
    margin-bottom: 1em;
    @include background-image( radial-gradient(50% 50%, circle cover, white, #B0B0B0) );
    border-radius: 0.4em 1.5em 0.4em 1.5em;
    border: 2px solid black;
  }
}

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 */
